h1, h2 {
  color: #D4AFB9; }

.call-to-action {
  background-color: #AFD4CA;
  color: #4F646F; }

#main-nav {
  margin: 0;
  padding: 0;
  list-style: none; }
  #main-nav li {
    display: inline-block;
    padding-right: 20px; }
